svg.page-load-word(
  data-index= 7,
  x='0px', 
  y='0px', 
  viewBox='0 0 40 40', 
  style='enable-background:new 0 0 40 40;', xml:space='preserve')
  polygon.st0(points='18,2.1 18,2.9 13.2,2.9 13.2,19.8 26.8,19.8 26.8,2.9 22,2.9 22,2.1 39,2.1 39,2.9 34.3,2.9 34.3,38.3 \
  39,38.3 39,39 22,39 22,38.3 26.8,38.3 26.8,20.6 13.2,20.6 13.2,38.3 18,38.3 18,39 1,39 1,38.3 5.7,38.3 5.7,2.9 1,2.9 1,2.1 ')
  defs
    linearGradient#textGradient7(x1="0" x2="1" y1="0" y2="0")
      stop.text1(
        data-index= 7
        offset="0%")
      stop.text2(
        data-index= 7
        offset="0%")
