footer
  .footer-inner
    nav.footer-nav
      ul.footer-nav-list
        li.footer-nav-link
          a.active.first-nav-item(href="./index.html") 關於 Stylish
        li.footer-nav-link
          a(href="./index.html") 服務條款
        li.footer-nav-link
          a(href="./index.html") 隱私政策
      ul.footer-nav-list
        li.footer-nav-link
          a(href="./index.html") 聯絡我們
        li.footer-nav-link
          a(href="./index.html") FAQ
    .footer-right
      ul.footer-social-icon-group
        li.footer-social-icon
          a(href="./index.html")
            img(
              src="images/line.png", 
              alt="line")
        li.footer-social-icon
          a(href="./index.html")
            img(
              src="images/twitter.png", 
              alt="twitter")
        li.footer-social-icon
          a(href="./index.html")
            img(
              src="images/facebook.png", 
              alt="facebook")
      .copy-wright.lg-copy-wright
        span © 2018. All rights reserved.
    .copy-wright.sm-copy-wright
        span © 2018. All rights reserved.  